/* @import 'bootstrap-custom.css'; */

body {
    /* font-family: 'Long Cang', cursive; */
    font-family: 'Ma Shan Zheng', cursive;
}

    body p {
        /* font-family: 'Ma Shan Zheng', cursive; */
        font-family: 'Roboto', sans-serif;
    }

.btn-primary i.animated,
.btn-secondary i.animated,
.btn-outline-primary i.animated,
.btn-outline-secondary i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

    .btn-primary i.animated,
    .btn-secondary i.animated,
    .btn-outline-primary:hover i.animated,
    .btn-outline-secondary:hover i.animated {
        -webkit-animation-name: pulse;
        -moz-animation-name: pulse;
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }

    @-webkit-keyframes pulse {    
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        50% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes pulse {    
        0% {
            -moz-transform: scale(1);
            transform: scale(1);
        }

        50% {
            -moz-transform: scale(1.2);
            transform: scale(1.2);
        }

        100% {
            -moz-transform: scale(1);
            transform: scale(1);
        }
    }
    
/* Header */
#header {
    background: url("../images/header.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* People */
.people-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

    @media (max-width: 768px) {
        .people-grid {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(12, 1fr);
            grid-gap: 10px;  
        }
                
        .person-grid {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr); 
        }
    }

    @media (max-width: 576px) {
        .people-grid {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(12, 1fr); 
        }
                    
        .person-grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, auto); 
        }
    }

/* Episodes */

/* Footer */
footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr); 
}

.social-icons {
    grid-column: 1 / 2;
}

.copyright {
    grid-column: 2 / 2;           
}

    @media (max-width: 768px) {
        footer {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, 1fr); 
        }

        .social-icons {
            grid-column: 1 / 1;
            grid-row: 1 / 2;
        }

        .copyright {
            grid-column: 1 / 1;
            grid-row: 2 / 2;           
        }
    }

    @media (max-width: 576px) {
        footer {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, 1fr); 
        }

        .social-icons {
            grid-column: 1 / 1;
            grid-row: 1 / 2;
        }

        .copyright {
            grid-column: 1 / 1;
            grid-row: 2 / 2;           
        }
    }